body {
  background: url(http://upload.wikimedia.org/wikipedia/en/thumb/2/27/San_Jose_State_Spartans_Logo.svg/996px-San_Jose_State_Spartans_Logo.svg.png) no-repeat center fixed; 
}

.header h1 {
    text-align: right;
    font-size: 100px;
}

.menu ul { float: left; list-style-type: none; margin: 0; padding: 0; background: none; border-width: 0; }

.menu li { float: left; }

.menu a
{
	float: left;
	display: block;
	padding: 5px 10px; 
}

table{
    border-collapse:separate;
    border: 1px solid black; 
    border-spacing: 100px 20px;
}

th,td {
     border: 1px solid black; 
     text-align: left;
     padding: 6px;
}